<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        
        {% block titulo %}
            My blog
        {% endblock titulo %}
            
    </title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'publicaciones:home' %}">Inicio</a></li>
            <li><a href="{% url 'publicaciones:publicaciones' %}">Publicaciones</a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form method="get">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" name="buscar" class="form-control" placeholder="Buscar...">
                            <span class="input-group-list">
                                <i class="icon icon-search"></i>
                                <button type="submit" class="btn btn-success">Buscar</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div>
    
        
</body>
</html>