{% extends 'index.html' %}


{% block titulo %}
    Publicaciones
{% endblock titulo %}


{% block content %}
    
    
    {% if publicaciones %}
        
        {% for publicacion in publicaciones %}
            <div class="card">
                <h2 class="titulo">
                    <a href="{% url 'publicaciones:publicacion' publicacion.titulo %}">{{ publicacion.titulo }}</a>
                </h2>
            </div>
            <hr>
        {% endfor %}


            
        
    {% else %}
        <h2>No exiten publicaciones</h2>
    {% endif %}
        
        
{% endblock content %}
    